@font-face {
    font-family: EpilepsySans;
    src: local("EpilepsySans"),
         url("../../fonts/EpilepsySans.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: EpilepsySans;
    src: local("EpilepsySans-Bold"),
         url("../../fonts/EpilepsySans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}