.block{
    width: 30px;
    height: 30px;
    position: absolute;
    // left: 100px;
    // top: 30px;
    z-index: 5;
    &-random{
        width: 100%;
        height: 100%;
        animation: animate-position-random 1s;
    }
}