.block{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-random{
        width: 30px;
        height: 30px;
        position: relative;
        animation: animate-position-random 1s;
    }
}